# ignore all hidden files and directories except `.git` and `.gitignore`
.*
!.git/
!.gitignore

# ignore `packer_compiled.lua` and 'spell/'
plugin/
packer_compiled.lua
spell/

# ignore git account informations
git_account.lua
